{% extends "base.html" %}

{% block title %}O meni{% endblock title %}

{% block specifika %}
<html>
    <body>
    <br>
       <img class="img-circle" src="https://goo.gl/2qrVuO">
            <br>
            <br>
        <div class="button">Like</div>
        <div class="button" href="https://www.facebook.com/jaka.marinsek.7">Dodaj za prijatelja</div>
            <br>
            <br>
                <p class="podatki">Ime in priimek: Jaka Marinšek</p>
                <p class="podatki">rojen: 1.10.1975</p>
                <p class="podatki">spol: moški</p>
                <p class="podatki">državljanstvo: slovensko</p>
                <p class="podatki">zaposlen: eKupi.hr/M san Grupa d.d.</p>
                <p class="podatki">število prijateljev: 12345</p>

    </body>
</html>

{% endblock specifika %}